/*
Article
*/
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

/*
Aside
*/
aside {
    clear: right;
    float: right;
    width: 15%;
    position: relative;
    top: 310px;
}

.barra-navegacao {
    background-color: #3c1d3d;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
    float: right;
    width: 15%;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

aside a {
    color: inherit;
    font-family: 'Open Sans Condensed', sans-serif;
    list-style-type: none;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.icones-sociais li {
    display: inline-block;  
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    color: transparent;
}

.github {
    background-image: url(../images/github.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.linkedin {
    background-image: url(../images/linkedin.png);
}

/*  
Body
*/
body {
    font-family: 'Crimson Text', serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

.citacoes {
    background-color: #D9e5e3;
    padding: 20px;
    border: 10px solid #c2ccc4 ;
    border-bottom-color: #333;
    border-right-color: #FFF;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
    font-style: italic;
    float: right;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

em {
    font-style: italic;
}

h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    clear: both;
}

p {
    text-align: justify;
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

/*
Footer
*/
.footer-pagina {
    background-color: #000000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    width: 100%;
    bottom: 0;
}

/*
Main
*/
main {
    line-height: 1.5;
    float: left;
    width: 85%;
}

main a {
    color: #851944;
}

.text-principal {
    width: 720px;
    margin: auto;
    padding: 30px 0; 
}

.titulo-pagina {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 25px;
    border-bottom: 10px solid #000000;
    font-size: 60px;
    text-transform: uppercase;
}

.minha-foto {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*  
Nav
*/
nav {
    padding: 20px;
    text-transform: lowercase;
}

nav a {
    color: #F2FFFC;
    text-decoration: none;
}